{% include "header.html" %}

<div class="container career">
    <h2 class="text-center mt-5 mb-5">Career Opportunities in Fobework</h2>
    <div class="row">

    <div class="col-md-7 col-lg-5 ">
        <img src=" {{ url_for('static', filename='images/ben-kolde-bs2Ba7t69mM-unsplash.jpg')}}" class="img-thumbnail img-fluid" alt="">
    </div>

    <div class="col-md-6 col-lg-6 p-5 mb-5">
        <h5>List of Career Opportunities in Fobework</h5>
        <ul class="list-group">
            <li class="list-group-item"><b>FrontEnd</b></li>
            <li class="list-group-item">React Native</li>
            <li class="list-group-item">React js</li>
            <li class="list-group-item">Redux</li>
            <li class="list-group-item">Babel</li>
            <li class="list-group-item">HTML5/CSS3</li>
            <li class="list-group-item"><b>Backend</b></li>
            <li class="list-group-item">Node js</li>
            <li class="list-group-item">Express js</li>
            <li class="list-group-item">MongoDB</li>
            <li class="list-group-item">GraphQL</li>
            <li class="list-group-item">RESTful API</li>
            <li class="list-group-item">JWT (JSON Web Tokens)</li>
            <li class="list-group-item"><b>DevOps</b></li>
            <li class="list-group-item">Docker</li>
            <li class="list-group-item">Kubernetes</li>
            <li class="list-group-item">Jekins</li>
            <li class="list-group-item">Amazon Web Services (AWS)</li>
            <li class="list-group-item"><b>Mobile Development</b></li>
            <li class="list-group-item">React Native</li>
            <li class="list-group-item">Expo</li>
            <li class="list-group-item"><b>Additional Technologies</b></li>
            <li class="list-group-item">AI and Machine Learning Libraries</li>
            <li class="list-group-item">Blockchain</li>
            <li class="list-group-item">IoT Integration</li>
          </ul>
    </div>
    </div>
</div>

{% include "footer.html" %}