{% include "header.html" %}
     
     <div class="container-fluid mt-5 hero">
        <div class="row">
            <div class="col-md-6">
              <p class="text-center text-md-start">Software Engineering Agency</p>
              <h1 class="text-center text-md-start">FOBEWORK</h1>
              <p class="text-center text-md-start">
                EMPOWERING STARTUPS TO SHAPE THE FUTURE ACCROSS ALL INDUSTRIES
              </p>
              <p class="text-center text-md-start">
                Fobework wants revolutionize the startup landscape by serving as a catalyst for innovation, growth, and sustainability
              </p>
              <div class="text-center text-md-start">
                <a href="/about" class="btn btn-primary btn-lg">Read More</a>
              </div>
            </div>

            <div class="col-md-6 mt-4 mt- shadow-lg rounded bg-body-tertiary">
                <img src="{{ url_for('static', filename='images/business-team-discussing-ideas-startup_74855-4380.avif') }}" class="img-fluid" alt="">
            </div>
        </div>
      </div>

      <div class="container-fluid p-3 p-md-5 mt-5 text-center">
        <div class="title text-center mb-3 mb-md-5">
            <h2>WE ARE A SOLUTION COMPANY USING TECH ACROSS ALL SECTORS</h2>
            <p class="text-center">
                We are providing solutions across all industries
            </p>
        </div>
        <div class="row align-items-center gap-3 gap-md-4">
            <div class="col-12 border-3 col-md-4 text-center blog-title rounded">
                <i class="fa fa-credit-card-alt fa-2x mb-3 mb-md-4" aria-hidden="true"></i>
                <h3>FinTech</h3>
                <p>
                    It encompasses a wide range of products, services, and applications that leverage advancements in technology to improve and streamline various aspects of financial activities.
                </p>
            </div>
            <div class="col-12 col-md-4 text-center blog-title rounded">
                <i class="fa fa-home fa-2x mb-3 mb-md-4" aria-hidden="true"></i>
                <h3>PropTech</h3>
                <p>
                    PropTech leverages advancements in areas such as data analytics, artificial intelligence, Internet of Things (IoT), and blockchain to create new opportunities and improve existing processes.
                </p>
            </div>
            <div class="col-12 col-md-3 text-center blog-title rounded">
                <i class="fa fa-lightbulb-o fa-2x mb-3 mb-md-4" aria-hidden="true"></i>
                <h3>CleanTech</h3>
                <p>
                    Cleantech innovations focus on reducing the negative impact of human activities on the environment, promoting energy efficiency, and conserving natural resources.
                </p>
            </div>
        </div>
    </div>
    
    <div class="container-fluid p-3 p-md-5 mt-5 text-center">
      <div class="row align-items-center gap-3 gap-md-4">
          <div class="col-md-6 col-lg-5 text-center blog-title rounded">
              <img src="{{ url_for('static', filename='images/clement-helardot-95YRwf6CNw8-unsplash.jpg') }}" class="img-fluid" alt="">
          </div>
          <div class="col-md-6 col-lg-6 text-center blog-title rounded">
              <h1>PROBLEMS WE WANT TO SOLVE</h1>
              <p>
                  At Fobework, we're determined to bridge this gap and create a more conducive environment for startups to flourish. Our mission is to empower startups with the tools they need to turn their ideas into thriving ventures. By connecting them to critical resources, advanced technologies, and a collaborative network of the best-in-class tech team, we're not just solving the problems of today, but also shaping the future of work and business.
              </p>
          </div>
      </div>
  </div>
  

      <div class="container-fluid p-5 mt-5 text-center">
        
        <div class="row align-items-center gap-4">
           
            <div class="col-md-7 col-lg-5 text-center blog-title rounded">
                <img src="{{ url_for('static', filename='images/hannah-busing-Zyx1bK9mqmA-unsplash.jpg') }}" class="img-fluid" alt="">
                
            </div>
            <div class="col-md-6 col-lg-6 text-center blog-title rounded">
                <h1>Team Work</h1>
                <p>
                 Here in FOBEWORK we have a Team of Professionals that are ready to Meet the needs of our clients and society at large to bring quality products to them. <br>
                 Effective teamwork is not just about getting along with one another, although that's certainly important. It's about leveraging each other's strengths, skills, and experiences to tackle challenges that might seem insurmountable to an individual. It's about pooling our collective knowledge to come up with solutions that are innovative and well-rounded. <br>
                 In our company, communication is key. Open and honest communication ensures that we're all on the same page, that ideas flow freely, and that challenges are addressed head-on. We should always feel comfortable sharing our thoughts, concerns, and suggestions because it's this exchange of ideas that often leads to breakthroughs.
                </p>
            </div>
        </div>
      </div>

      {% include "footer.html" %}


     